table {
    width: 80%;
    margin: 0 auto;
  }
  
  thead th {
    background-color: #E9ECEF;
    font-weight: bold;
    text-align: left;
  }
  
  td, th {
    padding: 0.75rem;
    vertical-align: middle;
  }
  
  tbody tr:nth-child(even) {
    background-color: #F7F7F7;
  }
  
  .text-center {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form select {
    height: 2.5rem;
    margin-left: 1rem;
  }
  
  form .form-control {
    width: 20%;
  }
  