.JobSeekerDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 90vh;
  }
  
  .JobSeekerDashboard h1 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #0077c9;
  }
  
  .JobSeekerDashboard h2 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: center;
  }
  
  table {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 0.75rem;
    text-align: left;
    font-size: 1rem;
  }
  
  th {
    background-color: #0077c9;
    color: #000000;
  }
  
  button {
    background-color: #0077c9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #005e9e;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

  }
  
  .profile-info p {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .ProfileInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background-color: #a8a8a83b;
    padding: 1rem;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    bottom: 1rem;
    width: 80%;
}
